._1CjV5os-W8V-5fsRfUHhrj {
  font-size: 12px;
}
._215SsOo0Ot1qHnfsSQTFNZ {
  font-size: 14px;
}
._2IinEUG4LF8A1muLXBrvu2 {
  list-style: none;
}
._1nVH9IT9QPwRkUW2cxMzwD,
.GCiFqRQQsx0sHGsoUicfD,
._1KvE8bml44MsaeZYB_spOU {
  position: relative;
}
._1nVH9IT9QPwRkUW2cxMzwD input:focus,
.GCiFqRQQsx0sHGsoUicfD input:focus,
._1KvE8bml44MsaeZYB_spOU input:focus {
  border: 1px solid #999;
}
._1nVH9IT9QPwRkUW2cxMzwD input,
.GCiFqRQQsx0sHGsoUicfD input,
._1KvE8bml44MsaeZYB_spOU input {
  width: 230px;
  height: 28px;
  font-size: 12px;
  text-indent: 1px;
  background: transparent;
  color: #333;
}
._1nVH9IT9QPwRkUW2cxMzwD ._2VGWLqr0pLrBhAcPvgPJ7d,
.GCiFqRQQsx0sHGsoUicfD ._2VGWLqr0pLrBhAcPvgPJ7d,
._1KvE8bml44MsaeZYB_spOU ._2VGWLqr0pLrBhAcPvgPJ7d {
  position: absolute;
  right: 20px;
  top: 9px;
  padding-left: 15px;
}
._1nVH9IT9QPwRkUW2cxMzwD ._2VGWLqr0pLrBhAcPvgPJ7d ._2uyQuvBC05cxcTAqw_7kcM,
.GCiFqRQQsx0sHGsoUicfD ._2VGWLqr0pLrBhAcPvgPJ7d ._2uyQuvBC05cxcTAqw_7kcM,
._1KvE8bml44MsaeZYB_spOU ._2VGWLqr0pLrBhAcPvgPJ7d ._2uyQuvBC05cxcTAqw_7kcM {
  display: block;
  background: url("/static/home/search/icon-search.png");
  background-size: cover;
  height: 22px;
  width: 22px;
}
._1nVH9IT9QPwRkUW2cxMzwD input {
  width: 500px;
  padding: 10px;
  height: 40px;
  text-indent: 10px;
  border: 1px solid #fff;
  background: #eee;
  color: #333;
}
._1nVH9IT9QPwRkUW2cxMzwD input:focus {
  border: 1px solid #fff;
  background: #fff;
}
.GCiFqRQQsx0sHGsoUicfD input {
  width: 360px;
  line-height: 20px;
  border: none;
  padding: 0 10px;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  font-size: 14px;
  color: #666;
}
.GCiFqRQQsx0sHGsoUicfD ._2VGWLqr0pLrBhAcPvgPJ7d {
  right: 12px;
  top: 22px;
}
.GCiFqRQQsx0sHGsoUicfD ._2VGWLqr0pLrBhAcPvgPJ7d ._2uyQuvBC05cxcTAqw_7kcM {
  height: 20px;
  width: 20px;
  display: block;
  background: url("/static/page/header/search_icon@2x.png");
  background-size: cover;
}
.GCiFqRQQsx0sHGsoUicfD input:focus {
  border: none;
  padding: 0 10px;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  background: #fff;
  line-height: 20px;
}
._1KvE8bml44MsaeZYB_spOU {
  width: 350px;
}
._1KvE8bml44MsaeZYB_spOU input {
  width: 350px;
  height: 32px;
  font-size: 0.85rem;
  background: #fff;
  color: #333;
}
._1KvE8bml44MsaeZYB_spOU ._2VGWLqr0pLrBhAcPvgPJ7d {
  top: 8px;
  background: #fff;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #999;
}
._1KvE8bml44MsaeZYB_spOU ._2VGWLqr0pLrBhAcPvgPJ7d ._2uyQuvBC05cxcTAqw_7kcM {
  height: 18px;
  width: 18px;
}

.BBt3iVlDGLWTQtF-oqa9Y {
  font-size: 12px;
}
._2s2WjmotZJ_Zid65LPu-V0 {
  font-size: 14px;
}
._3PjbBngvpapHdexsbNdwr9 {
  list-style: none;
}
._1nibkPgAb5S-L4Hk0OqdT_ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  line-height: 60px;
  z-index: 100;
  opacity: 0.99;
  border-bottom: 1px solid #eee;
  text-align: center;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg {
  width: 1200px;
  height: 60px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._15eHcbNlYJEihKCyI1H3_7 {
  position: relative;
  color: #fff;
  left: 0;
  top: 20px;
  float: left;
  background-image: url('/static/page/header/logo2021.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 85px;
  height: 22px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._3qaqHOeK7w4f6ru_bXK_K8 {
  display: none;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh {
  float: left;
  display: inline-block;
  width: 600px;
  max-height: 60px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._14TlTHrajeadX7OJhp_8kd {
  display: inline-block;
  margin-left: 36px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._14TlTHrajeadX7OJhp_8kd ._2ARFIgdPy_N0w-6Nls9F1d {
  display: inline-block;
  cursor: pointer;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._14TlTHrajeadX7OJhp_8kd ._2ARFIgdPy_N0w-6Nls9F1d img {
  width: 15px;
  height: 15px;
  top: 25px;
  position: absolute;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._14TlTHrajeadX7OJhp_8kd ._1PDs5Xlijl7EB0TOwlbFK {
  display: inline-block;
  margin-left: 30px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j {
  list-style: none;
  text-align: center;
  float: left;
  margin-left: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: #333;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li {
  position: relative;
  float: left;
  padding: 0 15px;
  font-size: 15px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._2My8kMgGXaWnMVhB1ZlZUZ {
  display: inline-block;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._2My8kMgGXaWnMVhB1ZlZUZ:hover {
  font-weight: 600;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._2My8kMgGXaWnMVhB1ZlZUZ:hover {
  color: #1C9A84;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3EHJStSmnbXZuxKTxPZ1ea {
  color: #1C9A84;
  display: inline-block;
  font-weight: bold;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li .Pi-s3I05LpIEMwb00iQ8K {
  position: absolute;
  color: #666;
  font-size: 8px;
  right: -60px;
  top: -6px;
  line-height: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 3px 5px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3u6ujQQCsBxynhLBS8orz {
  position: absolute;
  height: 2px;
  width: 30px;
  background: #1C9A84;
  left: 15px;
  top: 50px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3xWYklVMT_SklqW7kX4NjJ {
  position: relative;
  margin-top: 2px;
  display: inline-block;
  width: 100px;
  margin-left: -20px;
  padding: 5px 3px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3xWYklVMT_SklqW7kX4NjJ ._1T3XydVC5zd-ecSWyBsM8f {
  line-height: 40px;
  cursor: pointer;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3xWYklVMT_SklqW7kX4NjJ ._1T3XydVC5zd-ecSWyBsM8f a {
  color: #666;
  padding: 0;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3xWYklVMT_SklqW7kX4NjJ ._1T3XydVC5zd-ecSWyBsM8f:hover {
  background: #eee;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._24vJrzFOI3dxcNnc4MXr6j li ._3xWYklVMT_SklqW7kX4NjJ ._1T3XydVC5zd-ecSWyBsM8f:hover a {
  color: #1C9A84;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._1RZA55Vs0Lq2qPLEMVAAhn {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 20px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._1RZA55Vs0Lq2qPLEMVAAhn img {
  width: 20px;
  height: 20px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._1RZA55Vs0Lq2qPLEMVAAhn:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background: #EDEDED;
  position: absolute;
  top: 18px;
  left: 32px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .BhvzBa2T5IHxBJcpypBDh ._1RZA55Vs0Lq2qPLEMVAAhn:hover {
  cursor: pointer;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._2h4rOj0DHImg9aEz3DNCiN {
  display: inline-block;
  font-size: 14px;
  margin: 0 20px;
  position: relative;
  top: 0;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._2h4rOj0DHImg9aEz3DNCiN a {
  padding: 0 10px;
  color: #525252;
  cursor: pointer;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._2h4rOj0DHImg9aEz3DNCiN a._7hBw9SLUJvCb1HpYYS-W {
  color: #1C9A84;
  font-weight: bold;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._2h4rOj0DHImg9aEz3DNCiN a:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._2OSPVQcJGhF36n0mI6Bb88 {
  display: inline-block;
  position: relative;
  top: 7px;
  float: right;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg .syHDMM1sunYKG87l-gUi0 {
  position: absolute;
  top: -20px;
  left: 50px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  transform: translateX(-50%);
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._1CFDW7GIOihelSfQzoq6gn {
  position: absolute;
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #999;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 6px;
  top: 25px;
}
._1nibkPgAb5S-L4Hk0OqdT_ ._1RW5iCXBc4KjeT9UGJfusg ._2enrwftfZNEbd8dWBhKzGK {
  position: absolute;
  top: 8px;
  right: 3px;
}
._2nX1v3ev1nQlFamRpgl16o {
  display: none;
}
.uk_R7fy2PiicB0reaCCKQ {
  display: inline-block;
  position: relative;
  top: 6px;
}
.uk_R7fy2PiicB0reaCCKQ ._3nWjBSaxAr3X4VTglPx4dM {
  float: left;
  padding: 0 12px;
  border: 1px solid #1C9A84;
  line-height: 21px;
  border-radius: 50px;
  margin-right: 15px;
  margin-top: 15px;
  color: #1C9A84;
  font-size: 13px;
}
._J4phnA4QZDCDCGMX8TIP {
  display: inline-block;
  color: #525252;
  font-size: 15px;
  position: relative;
  padding: 0 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
._J4phnA4QZDCDCGMX8TIP ._2qL45qn0HCuGpk5OYuStUN {
  float: left;
  padding: 0 12px;
  line-height: 21px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 13px;
}
._J4phnA4QZDCDCGMX8TIP:hover {
  background: #1C9A84;
  color: #fff;
  font-weight: 600;
}
._2-g9LhPv3ZypPf7jVzI8xA {
  display: inline-block;
  color: #525252;
  font-size: 15px;
  position: relative;
  padding: 0 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
._2-g9LhPv3ZypPf7jVzI8xA span {
  margin-right: 3px;
}
._1xR8ZCwkk8XiMZV04sqwy- {
  position: relative;
  display: inline-block;
  padding: 0 14px;
}
._1xR8ZCwkk8XiMZV04sqwy- ._33O7Ub6I2tFUrjo65-s14W {
  position: relative;
  top: -1px;
  padding: 4px 15px;
  color: #fff;
  font-size: 13px;
  background: linear-gradient(90deg, #AFD8D1, #1C9A84);
  border-radius: 10px;
}
._2vF73rQpj5Tt9N1go6wZbo {
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 1px 5px 5px rgba(26, 26, 26, 0.1);
}
._2vF73rQpj5Tt9N1go6wZbo ._2iExoFeF_3kv9zPPPZQSIQ {
  position: relative;
  width: 100%;
  height: 126px;
  background: center / contain no-repeat url("/static/detail/company/apply_bg.png");
  padding: 15px 0px 10px 15px;
  color: #fff;
  margin-bottom: 20px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2iExoFeF_3kv9zPPPZQSIQ ._3zaFiHaiVPViwWB00lkjYP {
  font-size: 19px;
  font-weight: bold;
  line-height: 29px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2iExoFeF_3kv9zPPPZQSIQ ._1vnqxKu8zPmxzHphvAih7L {
  font-size: 12px;
  margin: 3px 0 5px 0;
  line-height: 18px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2iExoFeF_3kv9zPPPZQSIQ ._2b3oJryuafZrRJ-fO7lR02 {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 47px;
  color: #fff;
  background: linear-gradient(145deg, #fbe0c1 0%, #be915c 100%);
  border-radius: 2px;
  line-height: 20px;
  position: relative;
  top: -10px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2iExoFeF_3kv9zPPPZQSIQ ._2b3oJryuafZrRJ-fO7lR02:hover {
  background: linear-gradient(141deg, #fff8ef 0%, #ffd39f 100%);
  color: #352920;
}
._2vF73rQpj5Tt9N1go6wZbo ._2cqGzvJHpXx4cJ2jHb5bbP {
  line-height: 16px;
  font-size: 12px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2cqGzvJHpXx4cJ2jHb5bbP a {
  color: #1C9A84;
}
._2vF73rQpj5Tt9N1go6wZbo ._2cqGzvJHpXx4cJ2jHb5bbP a:hover {
  text-decoration: underline;
}
._2vF73rQpj5Tt9N1go6wZbo .G0ovPaZGBNNlF5MCLTzJ_ {
  position: relative;
  width: 100%;
  height: 110px;
  background: center / contain no-repeat url("/static/detail/company/postpone.png");
  padding: 15px 0px 10px 15px;
  color: #fff;
  margin-bottom: 10px;
}
._2vF73rQpj5Tt9N1go6wZbo .G0ovPaZGBNNlF5MCLTzJ_ ._3zaFiHaiVPViwWB00lkjYP {
  font-size: 19px;
  font-weight: bold;
  line-height: 29px;
}
._2vF73rQpj5Tt9N1go6wZbo .G0ovPaZGBNNlF5MCLTzJ_ ._1vnqxKu8zPmxzHphvAih7L {
  font-size: 12px;
  margin: 5px 0 ;
  line-height: 18px;
}
._2vF73rQpj5Tt9N1go6wZbo .G0ovPaZGBNNlF5MCLTzJ_ ._26cbvjsRYJHhj7zIuKgLqe {
  background: #fff;
  width: 70px;
  height: 70px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 20px;
}
._2vF73rQpj5Tt9N1go6wZbo ._3-FUpMGwvbdkqjJanTKN3O {
  line-height: 20px;
  margin: 10px 0 20px 0;
}
._2vF73rQpj5Tt9N1go6wZbo ._3-FUpMGwvbdkqjJanTKN3O span:nth-child(1) {
  display: inline-block;
  padding: 5px 60px;
  background: #F8F8F8;
}
._2vF73rQpj5Tt9N1go6wZbo ._3-FUpMGwvbdkqjJanTKN3O span:nth-child(2) {
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
  background: #1C9A84;
  float: right;
  color: #fff;
  cursor: pointer;
  min-width: 88px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c {
  float: left;
  display: inline-block;
  width: 100%;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c ._2vE1WFDHc-RXf4FUDS_VPu {
  display: flex;
  flex-direction: row;
  line-height: 20px;
  padding-top: 15px;
  border-top: 1px solid #eeeeee;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c ._2vE1WFDHc-RXf4FUDS_VPu ._19bW2vBbgfj4tAN9l8A4FE {
  flex: 1.2;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c ._2vE1WFDHc-RXf4FUDS_VPu ._19bW2vBbgfj4tAN9l8A4FE span {
  display: inline-block;
  width: 100%;
  font-size: 13px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c ._2vE1WFDHc-RXf4FUDS_VPu ._19bW2vBbgfj4tAN9l8A4FE ._3U8P3k5dMEhT5ao339FV7i {
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 5px;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c ._2vE1WFDHc-RXf4FUDS_VPu .vRJsVILRIgL4y4kn1I0hJ {
  flex: 1;
  text-align: center;
}
._2vF73rQpj5Tt9N1go6wZbo ._2KseMkYIJv6tCLYKc3uX5c ._2vE1WFDHc-RXf4FUDS_VPu .vRJsVILRIgL4y4kn1I0hJ span {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
}
._2vF73rQpj5Tt9N1go6wZbo:after {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background: linear-gradient(90deg, #AFD8D1, #1C9A84);
  right: 0;
  top: 0;
}

._2Y87jefyHzMqKRCDBZzhRk {
  font-size: 12px;
}
._3iN8iIpcaZK56MnG68Tc0V {
  font-size: 14px;
}
._2HuVb8WMnyK9jzPlZN2TW5 {
  list-style: none;
}
._3S2T0GlNl2PUb0BLApS5A2 {
  position: relative;
  height: 60px;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3z3ofthp-vZBFsGk0zR5QO {
  line-height: 18px;
  font-size: 14px;
  margin-top: 12px;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3z3ofthp-vZBFsGk0zR5QO ._3CdT1D4F9zbSLSraYABzJA {
  float: left;
  padding: 4px 20px;
  background: #1C9A84;
  color: #fff;
  border-radius: 2px;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3z3ofthp-vZBFsGk0zR5QO ._2QLrl3RoYPwcglqDCObn1t {
  float: left;
  padding: 4px 20px;
  background: #fff;
  border: 1px solid #1C9A84;
  color: #1C9A84;
  margin-right: 10px;
  border-radius: 1px;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3s6d26blkfhQI3e2Ot3AoQ {
  display: inline-block;
  position: relative;
  top: -6px;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3s6d26blkfhQI3e2Ot3AoQ ._1wKiS_Qnry14-nh4MTffc7 {
  position: absolute;
  top: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #1C9A84;
  line-height: 34px;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3s6d26blkfhQI3e2Ot3AoQ ._1wKiS_Qnry14-nh4MTffc7 img {
  margin-left: 7px;
  height: 15px;
  width: 16px;
  background-size: cover;
}
._3S2T0GlNl2PUb0BLApS5A2 ._3s6d26blkfhQI3e2Ot3AoQ ._1oZHckIKGC2m6Ej9l1Xl_x {
  float: right;
  max-width: 80px;
  line-height: 58px;
  height: 58px;
  overflow: hidden;
  margin-left: 36px;
}
._2FSpJyfDGvsNHt83LnJK-_ {
  display: none;
}
.CnEyKu2NtksiUbLdzBoBW {
  position: absolute;
  display: inline-block;
  width: 130px;
  top: 60px;
  right: 1px;
  background: #fff;
  text-align: center;
  padding: 5px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
}
.CnEyKu2NtksiUbLdzBoBW .j7OrUenLRhm7bKc-KnzhG {
  float: left;
  display: inline-block;
  background: #fff;
  width: 100%;
  padding: 5px 10px;
  line-height: 30px;
  cursor: pointer;
}
.CnEyKu2NtksiUbLdzBoBW .j7OrUenLRhm7bKc-KnzhG a {
  display: inline-block;
  width: 100%;
  color: #333;
}
.CnEyKu2NtksiUbLdzBoBW .j7OrUenLRhm7bKc-KnzhG:hover {
  background: #eee;
}
._3JvpKMYDgIXlgIRtpM6-Te {
  position: absolute;
  top: -20px;
  left: 68px;
  border: 10px solid transparent;
  border-bottom-color: #f5f5f5;
  transform: translateX(-50%);
}

.DTclDcYGE72zC2ryDFhzO {
  padding: 5px 12px 5px 15px;
  background: linear-gradient(126deg, #fff4e9 0%, #f0cda8 100%);
  border-radius: 20px;
}

._2HylIeSxpvqBf1cpz8Wp4V {
  float: left;
  margin-right: 20px;
}
@media (max-width: 1180px) {
  ._2HylIeSxpvqBf1cpz8Wp4V {
    display: none;
  }
}
.FCvu6QnHHGmT0OWOV5H9z {
  background: linear-gradient(90deg, #FAD09C, #784B2B);
  border-radius: 20px;
  padding: 0 10px;
  margin-top: 17px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}
.FCvu6QnHHGmT0OWOV5H9z:hover {
  opacity: 0.9;
}
._2q9W5Ln1NVDvR4FYn_6K8h {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 450px;
  line-height: 44px;
  color: #333;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2ZCPXCh51ulQE__p0xEn50 {
  display: inline-block;
  width: 100%;
  height: 60px;
  background-color: #2B2B2B;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2NVJ8kDS5dlF-aK8BI78E9 {
  width: 360px;
  position: absolute;
  top: 30px;
  left: 150px;
  background: linear-gradient(90deg, #FAD09C, #784B2B);
  height: 190px;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2NVJ8kDS5dlF-aK8BI78E9 ._1fSesmrW_SJ6b3uRjc35g3 {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2NVJ8kDS5dlF-aK8BI78E9 ._1fSesmrW_SJ6b3uRjc35g3 ._1cvIfzmJBpvdwPPVlLdYoz {
  float: right;
  margin-top: 12px;
  background: url("/static/anniversary/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 86px;
  height: 20px;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2NVJ8kDS5dlF-aK8BI78E9 ._3h53DcHOUJKJUFgSwJNOFp {
  float: left;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2NVJ8kDS5dlF-aK8BI78E9 ._2xxvpB6TNFw5w-aZLP9Wnz {
  float: left;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  margin-top: -5px;
}
._2q9W5Ln1NVDvR4FYn_6K8h ._2NVJ8kDS5dlF-aK8BI78E9 ._3swnuJE9Ny_eAWC-FP5VNz {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("/static/anniversary/bg_trial_end.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
}
._1UmLyNpxH0jmujDeMfrDzv {
  display: inline-block;
  width: 100%;
  margin: 160px auto 0;
  text-align: center;
  line-height: 1.6;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY {
  width: 400px;
  margin: 0 auto;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3QZs4qeVLRci6x3VfzTzG3 {
  color: #A68566;
  font-size: 16px;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3d_cqymhJLGeTVw34Uw9v1 {
  line-height: 45px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3d_cqymhJLGeTVw34Uw9v1 span {
  float: left;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3d_cqymhJLGeTVw34Uw9v1 ._3oecoJigHfDgUQMH4dEAKy {
  margin-right: 25px;
  font-size: 15px;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3d_cqymhJLGeTVw34Uw9v1 ._3s1SDELsO92OSdjNox6f41 {
  background-color: #F3F3F3;
  font-size: 22px;
  color: #333;
  font-weight: 600;
  padding: 0 60px;
  margin-right: 12px;
  border-radius: 4px;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3d_cqymhJLGeTVw34Uw9v1 ._3XIsd78KRFqAw-TcTSPqsG {
  background-color: #F3F3F3;
  color: #333;
  padding: 0 30px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._3d_cqymhJLGeTVw34Uw9v1 ._3XIsd78KRFqAw-TcTSPqsG:hover {
  opacity: 0.9;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._2_1SY6yZ4-lWqYp08JUWbS {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: #999;
  font-size: 15px;
}
._1UmLyNpxH0jmujDeMfrDzv ._3geL5JbsVyebzj8AaetthY ._2_1SY6yZ4-lWqYp08JUWbS ._1baIIX8POcX-gZ-c8_w4m5 {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  background: url("/static/anniversary/copy.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}
._2U87gioYG9u9OWo4N5aGDa {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-top: 20px;
}
._2U87gioYG9u9OWo4N5aGDa ._2x5zvJIbIBgUFmhMZA6LfX {
  width: 320px;
  margin: 0 auto;
  text-align: left;
}
._2U87gioYG9u9OWo4N5aGDa ._2x5zvJIbIBgUFmhMZA6LfX ._3JMk2hhxBOuV_c5dtRqaLK {
  width: 100px;
  float: left;
}
._2U87gioYG9u9OWo4N5aGDa ._2x5zvJIbIBgUFmhMZA6LfX ._1u3GbJt5fuOmZ6qwuKtZ8G {
  width: 220px;
  float: left;
  font-size: 14px;
  margin-top: 20px;
  line-height: 30px;
}
._2U87gioYG9u9OWo4N5aGDa ._2x5zvJIbIBgUFmhMZA6LfX ._1u3GbJt5fuOmZ6qwuKtZ8G p {
  padding: 0 10px;
}

.twVpc6qvZ2FXq5P6fmz48 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 0.2s ease-out;
}
.twVpc6qvZ2FXq5P6fmz48 .gpTsruNLLYbULtIHkWloO {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(26, 26, 26, 0.65);
  transition: background-color 0.2s ease-out;
}
.twVpc6qvZ2FXq5P6fmz48 ._1r8oA_p8O89htB_Cdnesw1 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: calc(100vh - 24px * 2);
  margin-right: auto;
  margin-left: auto;
  outline: 0;
  box-shadow: 0 5px 20px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  transition: max-height 0.4s ease;
}
.twVpc6qvZ2FXq5P6fmz48 ._4IZ1BwYjXVtjt2bzGvjmI {
  overflow: auto;
  background: #fff;
}
.twVpc6qvZ2FXq5P6fmz48 ._3gbVnuR62IYstBkX-bhVex {
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 99999;
  display: flex;
  text-align: center;
}
.twVpc6qvZ2FXq5P6fmz48 ._3QNkIpISo8EMf_3O7LRxY6 {
  position: absolute;
  top: -10px;
  right: -60px;
  padding: 12px;
  color: #fff;
}
.twVpc6qvZ2FXq5P6fmz48 ._3QNkIpISo8EMf_3O7LRxY6 ._7ysgXjyJLvmRbjqMIjEbL {
  vertical-align: top;
  fill: #fff;
}
.twVpc6qvZ2FXq5P6fmz48 ._3QNkIpISo8EMf_3O7LRxY6:hover {
  cursor: pointer;
}
._1XK8SgMCM4Zpwk8LF6Nu71 {
  display: none;
}

._9xYO5vrRVTaKybf_KABDs {
  font-size: 12px;
}
._2AYOkD4uBpsdz5hfF3osRZ {
  font-size: 14px;
}
._2lCYbCuB23cKwHr3cQwHuo {
  list-style: none;
}
._1Dg3i6s9Fh6zRlaq6JkUjy {
  position: fixed;
  width: 46px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #f5f5f5;
  top: 70%;
  right: 15px;
  z-index: 50000;
  text-align: center;
}
._1Dg3i6s9Fh6zRlaq6JkUjy ._3TOWyNwIdegbwPeQijdOre {
  padding: 6px 8px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
._1Dg3i6s9Fh6zRlaq6JkUjy ._3TOWyNwIdegbwPeQijdOre:hover {
  background: #1C9A84;
  color: #fff;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .TevM_XiO-4YrPxvz31wWc {
  display: inline-block;
  padding: 20px 20px 30px;
  min-height: 300px;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .TevM_XiO-4YrPxvz31wWc ._39g3cix5jLTuSM2mvy9feo {
  font-size: 18px;
  margin-bottom: 10px;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .TevM_XiO-4YrPxvz31wWc textarea {
  padding: 15px;
  width: 380px;
  max-width: 420px;
  min-height: 150px;
  max-height: 250px;
  outline: none;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .TevM_XiO-4YrPxvz31wWc textarea:focus {
  border: 1px solid #1C9A84;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .TevM_XiO-4YrPxvz31wWc ._3esVEp0oxW8HNK1y6IMyq7 {
  margin-top: 15px;
  display: inline-block;
  background: #1C9A84;
  color: #fff;
  padding: 5px 10px;
  width: 150px;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .TevM_XiO-4YrPxvz31wWc ._1jOg-jgaM6Wu8-fHiEUm0F {
  color: #1C9A84;
  margin-top: 50px;
  font-size: 1.1rem;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .Y-ica-peUTWoD7mAW6L-4 i {
  width: 11px;
  height: 17px;
  background-image: url(/static/image/phone-icon.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
._1Dg3i6s9Fh6zRlaq6JkUjy .Y-ica-peUTWoD7mAW6L-4:hover i {
  width: 11px;
  height: 17px;
  background-image: url(/static/image/phone-icon-hover.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.Osws9vzFxEkpDTv65KeQt {
  font-size: 12px;
}
._1RYn9ZPzlO1PveNaHi3g7c {
  font-size: 14px;
}
._1wCFBlXlTnKUymZN7cFLfx {
  list-style: none;
}
._2TSYNJvevGF5o8fV3D3lx_ {
  display: flex;
  text-align: center;
  position: relative;
}
._2TSYNJvevGF5o8fV3D3lx_ ._1U1WyWvrL7ggOqeWospubs {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
._1R827fpjX62SQza8JB09nq {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 360px;
  margin: 20px auto;
  padding: 5px 20px;
  background: #fff;
}
._1R827fpjX62SQza8JB09nq ._6nRdY6mRMPkMJkHl4-NGu {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  width: 180px;
  left: 70px;
  text-align: center;
}
._1R827fpjX62SQza8JB09nq ._6nRdY6mRMPkMJkHl4-NGu a {
  display: inline-block;
  padding: 1px 8px;
  width: 90px;
  color: #666;
}
._1R827fpjX62SQza8JB09nq ._6nRdY6mRMPkMJkHl4-NGu a:hover {
  color: #1C9A84;
}
._1R827fpjX62SQza8JB09nq ._6nRdY6mRMPkMJkHl4-NGu a:first-child {
  border-right: 1px solid #999;
}

._3_6hEY_tSnZC0fzhuwI5hn {
  font-size: 12px;
}
._2i2kpyIzeJp0jMXeteKqbb {
  font-size: 14px;
}
._1kzQEfuw2SA73XtRMCWrQk {
  list-style: none;
}
._2wJCupsJBbA6mVdrSJRy-9 {
  position: fixed;
  width: 100%;
  font-size: 13px;
  background: url('/static/fixed/fixed_banner_20200702.png');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -1px;
  height: 72px;
  right: 0;
  z-index: 50000;
  text-align: center;
}
._2wJCupsJBbA6mVdrSJRy-9 ._363mJFLmB8LW5StoCANk3a {
  width: 900px;
  margin: 0 auto;
  line-height: 70px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
._2wJCupsJBbA6mVdrSJRy-9 .FRwgrKfonIC8NtE6r28zx {
  float: left;
}
._2wJCupsJBbA6mVdrSJRy-9 .FRwgrKfonIC8NtE6r28zx ._3g3EhaGU-FxKOXfi95_jGE {
  font-size: 26px;
  color: #FFF335;
  padding: 0 5px;
}
._2wJCupsJBbA6mVdrSJRy-9 .FRwgrKfonIC8NtE6r28zx ._18KJSqOq98UbO1-JeiHfwG {
  font-size: 18px;
}
._2wJCupsJBbA6mVdrSJRy-9 ._2VOQKc8cflqYSUjcbMbMkR {
  float: left;
}
._2wJCupsJBbA6mVdrSJRy-9 ._2Hq4g0bvW13zdCeXVZXpZ1 {
  position: absolute;
  top: 15px;
  right: 30px;
  background: url("/static/fixed/close_btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
._3QAQZunTpQw4XwRobqcxfu {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 92px;
  color: #fff;
  background-color: #55BBA9;
  font-weight: 600;
}
._3QAQZunTpQw4XwRobqcxfu ._3X3thNMkOQN1uT81PiJ0e5 {
  float: left;
  font-size: 18px;
  width: 40px;
  line-height: 22px;
  margin: 15px;
}
._3QAQZunTpQw4XwRobqcxfu ._23Dry-N0Co_Atjb_7Q3eh1 {
  background: url("/static/page/popular/show_btn.png");
  float: left;
  width: 22px;
  height: 70px;
}
._3Yp_Q6wh7KTmNUmzs5Xr3l {
  position: absolute;
  left: 60%;
  height: 65px;
  width: 20%;
}

._309Y-BPgwpBJQne4moNXNc {
  font-size: 12px;
}
._3cJ1mSgY2YWlhxEgSBIL-T {
  font-size: 14px;
}
._2XRDKuSnhIAc_u0-NCpN4w {
  list-style: none;
}
._24lzwrzdlRTNrD7v-Y4Zh0 {
  background: url('/static/image/report/2019.s1.summary1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  width: 900px;
  margin: 0 auto;
}
._1Pl12qXyZQal3-lDepqMVd {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 20px 20px;
  text-align: center;
}
._3TOgsU8jGUMgK3l2VRlFpT {
  margin-top: -80px;
  display: inline-block;
  width: 600px;
  background: #eee;
  padding: 20px 20px;
  text-align: center;
}
._3TOgsU8jGUMgK3l2VRlFpT p {
  padding: 0 10px 10px;
  font-size: 15px;
  color: #000;
}
._3TOgsU8jGUMgK3l2VRlFpT input {
  padding: 10px 12px;
  outline: none;
  border: 1px solid #ccc;
  width: 400px;
  font-size: 14px;
}
._3TOgsU8jGUMgK3l2VRlFpT a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  width: 400px;
  background: #1C9A84;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
._3TOgsU8jGUMgK3l2VRlFpT a:hover {
  background: #1ca38d;
}
._1oyw4vvQ35n4FHthRkz0fJ {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  color: red;
}
._2eyzSmK1qvCQTTkYS_ukzF {
  display: inline-block;
  width: 300px;
}
._2eyzSmK1qvCQTTkYS_ukzF input {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  padding: 8px 10px;
  width: 180px;
  outline: none;
  font-size: 13px;
  border: 1px solid #fff;
}
._2eyzSmK1qvCQTTkYS_ukzF input._2KCJHmGkMesSPrW4l6JVzX {
  border: 1px solid red;
}
._2eyzSmK1qvCQTTkYS_ukzF input:hover {
  outline: none;
  border: 1px solid #fff;
}
._2eyzSmK1qvCQTTkYS_ukzF a {
  float: left;
  margin-top: 20px;
  display: inline-block;
  line-height: 18px;
  padding: 8px 20px;
  color: #67B88A;
  background: #fff;
  font-size: 15px;
  margin-left: 10px;
}

._2iq5234eZthZ9rKO5slkEg {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 75px;
  margin-top: 0;
}
._2JHBYcnyVGJcLOxCC_zmKI {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 14px;
  color: #000;
}
._2wp3h9wGBJFlsmo38J2AR2 {
  position: absolute;
  right: 0;
  top: 3px;
  background: url("/static/user/login/qrcode.png");
  background-size: cover;
  width: 53px;
  height: 45px;
  cursor: pointer;
}
._2wp3h9wGBJFlsmo38J2AR2:hover {
  opacity: 0.9;
}
.xU3c-nzi64KIQVL-QRkG- {
  display: none;
}

._1daRzdB6dN6MIy-t9OrIiU ._1WthV-TSYt2hl2_wdptY36 {
  margin: 60px auto 0;
  width: 100%;
  /*background: #f5f5f5;*/
  min-height: 800px;
}
._1daRzdB6dN6MIy-t9OrIiU ._1Bc7sKvlUTD25JuvhHpazS {
  /*background: #f5f5f5;*/
}
._1daRzdB6dN6MIy-t9OrIiU ._1UbGULnyX4f-z9PzrOKOtJ {
  margin: 60px auto 0;
  background: #fff;
  min-height: 800px;
}
._1daRzdB6dN6MIy-t9OrIiU .EKAcMa8obD05yPH1z4kPF {
  margin: 0 auto;
  padding: 10px 0 50px;
  min-height: 800px;
  width: 1200px;
}
._1daRzdB6dN6MIy-t9OrIiU ._2F74GlravgmqjY389yKAjz {
  margin: 0 auto;
  min-height: 800px;
  width: 100%;
  text-align: center;
}
._1daRzdB6dN6MIy-t9OrIiU .n-8D5H4wj_3heF91qx6_u {
  margin: 0 auto;
  /*padding: 10px 0 50px;*/
  min-height: 800px;
  width: 1200px;
}
._1daRzdB6dN6MIy-t9OrIiU ._3_VZMizTAgO6cmPNPXsUsD {
  background: #f5f5f5;
}
._1daRzdB6dN6MIy-t9OrIiU .UDgkwfp_Xdx_4kDrchz41 {
  background: #ffffff;
}
._1daRzdB6dN6MIy-t9OrIiU ._3H4sIw5QulGxvuuDggYcrd {
  background: #24262E;
  color: #eee;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
}
._1daRzdB6dN6MIy-t9OrIiU ._3ir1vPGHxYkzZNMU7Ue25k {
  margin-right: 20px;
}
._1daRzdB6dN6MIy-t9OrIiU ._3ir1vPGHxYkzZNMU7Ue25k a {
  margin-right: 20px;
  color: #eee;
}

._3P89KfXY_28whYQgj3xLaJ {
  font-size: 12px;
}
._3SGfH03Gq2deozFHXX31gG {
  font-size: 14px;
}
._388zo41WvdlF6LBMwlSBAp {
  list-style: none;
}
._1cFa-88izl9pSXBijn4QT3 {
  position: absolute;
  top: 60px;
  left: -30px;
  display: inline-block;
  width: 150px;
  text-align: left;
  line-height: 1.6;
  background: #FFFFFF;
  padding-bottom: 20px;
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.23);
}
._1cFa-88izl9pSXBijn4QT3 ._3Jm6nf8D8vtLB_4nLWCsc {
  position: absolute;
  top: -2px;
  left: 45px;
  width: 30px;
  height: 1px;
  background: #1C9A84;
}
._1cFa-88izl9pSXBijn4QT3 .LIHbSq_lh_sAt965QOtEG {
  font-size: 12px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  background: #fff;
  color: #333333;
  position: relative;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU {
  display: inline-block;
  width: 100%;
  padding-top: 4px;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU .hrq50knd35xHZ-IOg4jCJ {
  font-size: 13px;
  color: #787878;
  padding: 8px 20px;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU .ku4Coxhy-3nJrTC7-L9Zc ._1OD8-bk3ijQV6A37wnaxVj {
  font-size: 13px;
  display: inline-block;
  width: 100%;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU .ku4Coxhy-3nJrTC7-L9Zc ._1OD8-bk3ijQV6A37wnaxVj a {
  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 30px;
  color: #333333;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU .ku4Coxhy-3nJrTC7-L9Zc ._1OD8-bk3ijQV6A37wnaxVj a._2D0Zv0BH7irruYvbU1Tsn9 {
  background: #1C9A84;
  color: #fff;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU .ku4Coxhy-3nJrTC7-L9Zc ._1OD8-bk3ijQV6A37wnaxVj a._3SSgi1sLIUkR9VP6eLeVkR:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1cFa-88izl9pSXBijn4QT3 .VDFdAdjJHid2fmOZUsSnU .ku4Coxhy-3nJrTC7-L9Zc ._1OD8-bk3ijQV6A37wnaxVj img {
  float: right;
  margin-left: 2px;
  margin-top: 3px;
}
._2n8SA47SvhFnFDp3XdBZTC {
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
}
._2n8SA47SvhFnFDp3XdBZTC ._1QkreVDkHM0W9ea-MSJBE9 {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 10px 20px;
}
._2n8SA47SvhFnFDp3XdBZTC ._1QkreVDkHM0W9ea-MSJBE9:hover {
  color: #1C9A84;
  font-weight: bold;
}
._2n8SA47SvhFnFDp3XdBZTC img {
  float: right;
}
._1Mx5vo-BcTCT7tDqKzMxRP {
  font-size: 13px;
  margin-top: 12px;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  margin-left: 8px;
}
._1Mx5vo-BcTCT7tDqKzMxRP ._1QkreVDkHM0W9ea-MSJBE9 {
  display: inline-block;
  width: 100%;
}
._1Mx5vo-BcTCT7tDqKzMxRP ._1QkreVDkHM0W9ea-MSJBE9 img {
  float: right;
  margin-right: 10px;
  color: #333333;
}
._1Mx5vo-BcTCT7tDqKzMxRP ._1QkreVDkHM0W9ea-MSJBE9 span {
  margin-left: 20px;
  color: #333333;
}
._1Mx5vo-BcTCT7tDqKzMxRP ._1QkreVDkHM0W9ea-MSJBE9 span:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1Mx5vo-BcTCT7tDqKzMxRP ._1QkreVDkHM0W9ea-MSJBE9 img {
  margin-left: 5px;
  margin-top: 2px;
}
._1Mx5vo-BcTCT7tDqKzMxRP ._1QkreVDkHM0W9ea-MSJBE9:hover {
  color: #1C9A84;
  font-weight: bold;
}

._3TfQ4vY8aJB1b0uJ2bvq1l {
  font-size: 12px;
}
._1NmObg2LiBre5Zt163OpZ0 {
  font-size: 14px;
}
._3goORM9vVJzGV2XcyZR_JJ {
  list-style: none;
}
._2Ih29Mcyby3SD5cK9ZGBWx {
  width: 280px;
  text-align: center;
  margin: 0 auto;
}
._1aqDPfFNElwqIuI_3e13fO {
  float: left;
  color: red;
  margin: 5px 0 0 10px;
}

._--KLmcT1ayeDKp9myPZ6D {
  font-size: 12px;
}
._3KAiwEJ_d3di2iT4rT935J {
  font-size: 14px;
}
._2pyxXZ0xVZzAia9v1Ys07X {
  list-style: none;
}
._3GwzTMknn590ckTs-x0e1F {
  position: absolute;
  top: 60px;
  left: -15px;
  display: inline-block;
  width: 125px;
  text-align: left;
  line-height: 1.6;
  background: #FFFFFF;
  padding-bottom: 20px;
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.23);
}
._3GwzTMknn590ckTs-x0e1F ._11JTHLeoVt6TKdhfh301me {
  position: absolute;
  top: -2px;
  left: 30px;
  width: 30px;
  height: 1px;
  background: #1C9A84;
}
._3GwzTMknn590ckTs-x0e1F ._1sdFl0IBCpWrqvGAoxi_fp {
  font-size: 12px;
  padding: 10px 5px 10px 20px;
  text-align: left;
  background: #fff;
  color: #333333;
  position: relative;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR {
  display: inline-block;
  width: 100%;
  padding-top: 4px;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR ._1rapQcPLseqU_gH8k7Keii {
  font-size: 13px;
  color: #787878;
  padding: 8px 5px 8px 20px;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR .nCAwpvP20o95SQfg76pF9 ._1UUMFPnBZntsyG2tWhO9zK {
  font-size: 13px;
  display: inline-block;
  width: 100%;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR .nCAwpvP20o95SQfg76pF9 ._1UUMFPnBZntsyG2tWhO9zK a {
  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 30px;
  color: #333333;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR .nCAwpvP20o95SQfg76pF9 ._1UUMFPnBZntsyG2tWhO9zK a._2vswWLDbtoKAcMY8z_Q94a {
  background: #1C9A84;
  font-weight: bold;
  color: #fff;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR .nCAwpvP20o95SQfg76pF9 ._1UUMFPnBZntsyG2tWhO9zK a.QTm-5HQ88hyJaIgMoM4k7:hover {
  color: #1C9A84;
  font-weight: bold;
}
._3GwzTMknn590ckTs-x0e1F ._3h8Y34EXrfzBRY621kxhhR .nCAwpvP20o95SQfg76pF9 ._1UUMFPnBZntsyG2tWhO9zK img {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
}

._2SzdNOLX9VQFa1PdjeD4yc {
  font-size: 12px;
}
._3XzZwwq_p4aCPpGsICm_Gh {
  font-size: 14px;
}
.Ni21deD8moqhYN1DysAK1 {
  list-style: none;
}
._3hS8jeAMaScVBY_gTaGhE- {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
._3hS8jeAMaScVBY_gTaGhE- a {
  display: inline-block;
  line-height: 34px;
  width: 280px;
  background: #1C9A84;
  color: #fff;
}
._3hS8jeAMaScVBY_gTaGhE- a:hover {
  background: #1ca38d;
  color: #fff;
}
._2JZq1vxvt6JYgO945BjEQO a {
  width: 280px;
  background: #eee;
  color: #333;
  cursor: not-allowed;
}

._2hjEFcmo-1df9wciPQ5qyv {
  font-size: 12px;
}
._3NGjfMlUfHnzSEE3ixmWPa {
  font-size: 14px;
}
._3QRaSg2hYWInLv7ElHNlw4 {
  list-style: none;
}
.eMzvjIYuPk1WAbi50H0Pi {
  position: absolute;
  top: 60px;
  left: -20px;
  display: inline-block;
  width: 150px;
  text-align: left;
  line-height: 1.6;
  background: #FFFFFF;
  padding-bottom: 20px;
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.23);
}
.eMzvjIYuPk1WAbi50H0Pi ._2f0_VzY1af3POuOBJVGcoJ {
  position: absolute;
  top: -2px;
  left: 35px;
  width: 30px;
  height: 1px;
  background: #1C9A84;
}
.eMzvjIYuPk1WAbi50H0Pi ._2DQCqGAnHIN9NETB2JakJx {
  font-size: 12px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  background: #fff;
  color: #333333;
  position: relative;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG {
  display: inline-block;
  width: 100%;
  padding-top: 8px;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._3Y7p4QSNL6vWjctPdZie92 {
  font-size: 13px;
  color: #787878;
  padding: 0 20px;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._1oMIuP3f9ji060opjDDM4N {
  font-size: 13px;
  color: #333333;
  padding: 4px 20px;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._1oMIuP3f9ji060opjDDM4N .OPLm-2lJv24eJDWS0oQme {
  color: #333333;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._1oMIuP3f9ji060opjDDM4N .OPLm-2lJv24eJDWS0oQme:hover {
  color: #1C9A84;
  font-weight: bold;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._2SUffF4nZvxzo-krOcXjbb .a1JbyHa2ths9skrz9-63H {
  font-size: 13px;
  display: inline-block;
  width: 100%;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._2SUffF4nZvxzo-krOcXjbb .a1JbyHa2ths9skrz9-63H a {
  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 30px;
  color: #333333;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._2SUffF4nZvxzo-krOcXjbb .a1JbyHa2ths9skrz9-63H a._3GzwFc_aNmzzlBal4CaPR0 {
  background: #1C9A84;
  color: #fff;
}
.eMzvjIYuPk1WAbi50H0Pi ._1MY2XNA3_G1EMtsl8O0XTG ._2SUffF4nZvxzo-krOcXjbb .a1JbyHa2ths9skrz9-63H a._2FLTWO_Ye8PhZMwxCXyaqE:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1KawHyxNTyJgqf12M4VL38 {
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
}
._1KawHyxNTyJgqf12M4VL38 ._10xHNcOZJdhKq_skMmVYPi {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 10px 20px;
}
._1KawHyxNTyJgqf12M4VL38 ._10xHNcOZJdhKq_skMmVYPi:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1c59E2_1wE7tCgvJqNAdX5 {
  font-size: 13px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 8px;
}
._1c59E2_1wE7tCgvJqNAdX5 ._10xHNcOZJdhKq_skMmVYPi {
  display: inline-block;
  width: 100%;
}
._1c59E2_1wE7tCgvJqNAdX5 ._10xHNcOZJdhKq_skMmVYPi img {
  float: right;
  color: #333333;
}
._1c59E2_1wE7tCgvJqNAdX5 ._10xHNcOZJdhKq_skMmVYPi span {
  margin-left: 20px;
  color: #333333;
}
._1c59E2_1wE7tCgvJqNAdX5 ._10xHNcOZJdhKq_skMmVYPi span:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1c59E2_1wE7tCgvJqNAdX5 ._10xHNcOZJdhKq_skMmVYPi img {
  margin-left: 5px;
  margin-top: 2px;
}
._1c59E2_1wE7tCgvJqNAdX5 ._10xHNcOZJdhKq_skMmVYPi:hover {
  color: #1C9A84;
  font-weight: bold;
}

._22gViCpjsqpU-Dns2mHnYX {
  font-size: 12px;
}
._2a8MNj5YMCiE5Tc7umf6jN {
  font-size: 14px;
}
._1-3t2K4OY_cwfaXuTYYgsn {
  list-style: none;
}
._38lENUZJBc8rSrcFTSdvO {
  position: relative;
  display: inline-block;
  width: 100%;
}
._38lENUZJBc8rSrcFTSdvO ._1XGVKZ1866Qty0irbFDQJg {
  position: absolute;
  right: 0;
  top: 10px;
  background: #1C9A84;
  color: #fff;
  cursor: pointer;
  padding: 0 8px;
  line-height: 34px;
  font-size: 13px;
  width: 90px;
}
._38lENUZJBc8rSrcFTSdvO ._3-KXPac6RoaXaiJ39XH38- {
  float: left;
  width: 150px;
  margin-left: -20px;
  margin-bottom: 10px;
  color: red;
}

.Scj9VXC2y2meh_o4I67Y3 {
  font-size: 12px;
}
._1TXDJome4OyvFfCA6pKA-W {
  font-size: 14px;
}
._2Uif3lLjd0EjLUUcIwKYEy {
  list-style: none;
}
._3ze8gD8PcEtE_51H8HMm9x {
  position: absolute;
  top: 60px;
  left: -30px;
  display: inline-block;
  width: 150px;
  text-align: left;
  line-height: 1.6;
  background: #FFFFFF;
  padding-bottom: 8px;
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.23);
}
._3ze8gD8PcEtE_51H8HMm9x ._1nkeHR0f6_sCZuTJofN7k0 {
  position: absolute;
  top: -2px;
  left: 45px;
  width: 30px;
  height: 1px;
  background: #1C9A84;
}
._3ze8gD8PcEtE_51H8HMm9x .jFQWSwxWR8qpTDHkaIHf4 {
  font-size: 12px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  background: #fff;
  color: #333333;
  position: relative;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ {
  display: inline-block;
  width: 100%;
  padding-top: 4px;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._2nx_UYjL9mxNC9U0RkWdHp {
  font-size: 13px;
  color: #787878;
  padding: 8px 20px;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._2z2VtRJ-Oz96c4qDzwHOsE {
  font-size: 13px;
  color: #333333;
  padding: 8px 20px;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._2z2VtRJ-Oz96c4qDzwHOsE .AKTTS_99SVlKurnpWMdEQ {
  color: #333333;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._2z2VtRJ-Oz96c4qDzwHOsE .AKTTS_99SVlKurnpWMdEQ:hover {
  color: #1C9A84;
  font-weight: bold;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._1E8d2FAh7xzoiq-SXbhaRi .ejNqcIEumRdU3BYt4mGCl {
  font-size: 13px;
  display: inline-block;
  width: 100%;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._1E8d2FAh7xzoiq-SXbhaRi .ejNqcIEumRdU3BYt4mGCl a {
  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 30px;
  color: #333333;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._1E8d2FAh7xzoiq-SXbhaRi .ejNqcIEumRdU3BYt4mGCl a._2NOk6woTOVH7WUY2FAmHNW {
  background: #1C9A84;
  color: #fff;
}
._3ze8gD8PcEtE_51H8HMm9x ._1ANIWPb71DwbXdRjM2c-n_ ._1E8d2FAh7xzoiq-SXbhaRi .ejNqcIEumRdU3BYt4mGCl a._2EnqEyyofwhFqpoOo2srWE:hover {
  color: #1C9A84;
  font-weight: bold;
}
._1rLm6s3imDvMU0MW2wr9Fu {
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
}
._1rLm6s3imDvMU0MW2wr9Fu .jTTYqGca0-uvDYyK7M-2- {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 10px 20px;
}
._1rLm6s3imDvMU0MW2wr9Fu .jTTYqGca0-uvDYyK7M-2-:hover {
  color: #1C9A84;
  font-weight: bold;
}
._19iBxj8DLKhKrBkv6HKhr {
  font-size: 13px;
  margin-top: 10px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 8px;
}
._19iBxj8DLKhKrBkv6HKhr .jTTYqGca0-uvDYyK7M-2- {
  display: inline-block;
  width: 100%;
}
._19iBxj8DLKhKrBkv6HKhr .jTTYqGca0-uvDYyK7M-2- img {
  float: right;
  color: #333333;
}
._19iBxj8DLKhKrBkv6HKhr .jTTYqGca0-uvDYyK7M-2- span {
  margin-left: 20px;
  color: #333333;
}
._19iBxj8DLKhKrBkv6HKhr .jTTYqGca0-uvDYyK7M-2- span:hover {
  color: #1C9A84;
  font-weight: bold;
}
._19iBxj8DLKhKrBkv6HKhr .jTTYqGca0-uvDYyK7M-2- img {
  margin-left: 5px;
  margin-top: 2px;
}
._19iBxj8DLKhKrBkv6HKhr .jTTYqGca0-uvDYyK7M-2-:hover {
  color: #1C9A84;
  font-weight: bold;
}

._2ZItS_HmOaiUQrW8LFkieV {
  position: relative;
  display: inline-block;
  margin: 10px 0;
}
._2ZItS_HmOaiUQrW8LFkieV input {
  min-height: 34px;
  width: 280px;
  text-indent: 5px;
}
._2ZItS_HmOaiUQrW8LFkieV input._2_77FlNUH76WFjIAYXBtcM {
  border: 1px solid red;
}

._2AKaW20r6K3QgHIYb2XxYu {
  font-size: 12px;
}
._2LJZ4P3r8e4yQaFdbfiBsm {
  font-size: 14px;
}
._33d9YcWYcexeBhBeb612bR {
  list-style: none;
}
._3rCUFP1AUvmtylcOYQ_Kle {
  position: relative;
  margin: 4px 0;
  width: max-content;
  font-size: 13px;
}
._2OccT-D8QxbP1mADfxY4wb {
  position: absolute;
  top: -2px;
  left: 15px;
  width: 30px;
  height: 1px;
  background: #1C9A84;
}
._2OLrYvmB3Kwt0U3x_4WdgI {
  display: inline-block;
  width: 100%;
  padding: 6px 10px 6px 20px;
  text-align: left;
}
._2OLrYvmB3Kwt0U3x_4WdgI .Jz9DDGnDtaipMtmxJoP0X {
  float: left;
  min-width: 90px;
  color: #333333;
}
._2OLrYvmB3Kwt0U3x_4WdgI .Jz9DDGnDtaipMtmxJoP0X:hover {
  color: #1C9A84;
  font-weight: bold;
}
._2OLrYvmB3Kwt0U3x_4WdgI img {
  float: right;
}

._2RNOcwRyWFWhOXTZRDwoBw span {
  float: left;
  margin: 15px 5px 0 0;
}
._2RNOcwRyWFWhOXTZRDwoBw input {
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 8px;
  text-indent: 10px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #999;
}

.U-yEhwAwu6zh0-L-NYGcG {
  background: url("/static/home/modal/bg_zxkt.png");
  background-size: cover;
  width: 610px;
  height: 240px;
  overflow: hidden;
}

._2I8IlhzUErw5EAXtZ9hhdM {
  display: inline-block;
  width: 100%;
  margin: 5px 0 15px;
}
._2I8IlhzUErw5EAXtZ9hhdM span {
  float: left;
  margin: 15px 5px 0 0;
}
._2I8IlhzUErw5EAXtZ9hhdM input {
  float: left;
  height: 34px;
  width: 280px;
  text-indent: 5px;
  margin-right: 8px;
}

._1EF_Tk7LSLwoj_DaphV_W1 {
  background: url("/static/home/modal/feature-20211025.png");
  background-size: cover;
  width: 818px;
  height: 880px;
  overflow: hidden;
  margin-top: -5px;
}

._3MZZQw3kxa5LQ6-XOl3rHi {
  position: relative;
  display: inline-block;
}
._3MZZQw3kxa5LQ6-XOl3rHi ._3IWg3AMPn4kOVObt_0f_rK {
  float: left;
  width: 100px;
  margin-top: 10px;
  color: red;
}

.JHw7nNz46Ank8xn4LzHs2 {
  font-size: 12px;
}
._3gg2ULH1oqF8lASEsiLwNz {
  font-size: 14px;
}
._3R5J4PQkM06WkCCIcZRT4E {
  list-style: none;
}
.trGp9rBYHo238EwM0D-jE {
  position: relative;
}
.Df-hBTCR3s7kg6fCstxHv {
  float: left;
  margin: 15px 0 0 0;
  font-size: 14px;
  color: #000;
}
._3HLyzS43Ip3lhHDuRDx_G9 {
  position: absolute;
  right: 0;
  background: url("/static/user/login/computer.png");
  background-size: cover;
  width: 53px;
  height: 47px;
  cursor: pointer;
}
._3HLyzS43Ip3lhHDuRDx_G9:hover {
  opacity: 0.9;
}
.muUMzrOLUV_BabUxB3137 {
  display: none;
}

._1aHq_84uQZIvnrbpfdYfQ2 {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;
  left: 0;
  top: 0;
  background: url("/static/user/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
._34l-s6KHo_mbYoIC6_S8pl {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}
._34l-s6KHo_mbYoIC6_S8pl .Y00AjVoEXTnRg3aKP-w2e {
  align-self: center;
  margin: auto;
}
._34l-s6KHo_mbYoIC6_S8pl .Y00AjVoEXTnRg3aKP-w2e .JAWidX6rhpeH8AAJ8pvr9 {
  display: inline-block;
  position: relative;
  background: url("/static/user/logo-white2021.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 40px;
  top: 30px;
  margin: 0 auto 0;
}
._34l-s6KHo_mbYoIC6_S8pl .Y00AjVoEXTnRg3aKP-w2e ._3DThSUABpswDBerKF3SDtB {
  display: inline-block;
  width: 150px;
  height: 40px;
}
._34l-s6KHo_mbYoIC6_S8pl .Y00AjVoEXTnRg3aKP-w2e ._11RM_JF39kyu3p5VFbVGXd {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  min-height: 350px;
}
._34l-s6KHo_mbYoIC6_S8pl ._3FTg9czx8gsmdxFG6meqdt {
  color: #ccc;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
._34l-s6KHo_mbYoIC6_S8pl .pr4PO8coN-BLRufDf6DjC a {
  margin-right: 20px;
  color: #ccc;
}
._34l-s6KHo_mbYoIC6_S8pl ._34vSqXl3bTO_4bfTfzAx0D {
  margin-right: 20px;
}
@media screen and (min-height: 650px) {
  ._34l-s6KHo_mbYoIC6_S8pl {
    height: 88vh;
  }
}
@media screen and (min-height: 800px) {
  ._34l-s6KHo_mbYoIC6_S8pl {
    height: 85vh;
  }
}

._3VC0CrNX27r4gyNNTwXdB2 {
  height: 300px;
}
._3VC0CrNX27r4gyNNTwXdB2 ._31mAAwE5AfRhqv-tYZYMm9 {
  width: 280px;
  height: 340px;
}

