{% extends 'hs_base/hs_base.html' %}
{% block main %}


    <main class="main" id="main">

        <article class="content is-layout-constrained has-global-padding wysiwyg">

            {% if lang == "en" %}
                <section class="hero">
                    <div class="hero__container">
                        <h1 class="hero__title hero__title--standard">Huachen Technology</h1>
                    </div>
                </section>


                <section class="grid">
                    <section class="grid__instances" data-grid-columns="2">
                        <div class="wp-block-mg-grid-column-left grid__instance">
                            <div class="grid__content">
                                <div class="wysiwyg">
                                    <p><strong>Huachen Technology</strong></p>


                                    <p>
                                        Sequoia China is a private equity investment institution focusing on investing in the three major fields of technology, medical and health, and consumption. Since its establishment in 2005, Sequoia China has been committed to discovering and cultivating innovation and entrepreneurial capabilities, and has invested in more than 1,500 companies at home and abroad. Many of them have emerged with distinctive technical characteristics, innovative business models, high growth and high development potential. company of.</p>


                                    <p></p>


                                    <p>To date, more than 160 member companies of Sequoia China have been successfully listed, and nearly 130 unlisted companies have developed into unicorns.</p>


                                    <p></p>


                                    <p><strong>If you have financing plans, please send your letter and business plan to bpchina@hongshan.com We will read it carefully and respond as soon as possible</strong>.</p>
                                </div>
                            </div>
                        </div>


                        <div class="wp-block-mg-grid-column-right grid__instance">
                            <div class="grid__content">
                                <div class="wysiwyg"></div>
                            </div>
                        </div>
                    </section>
                </section>


                <p></p>


                <figure class="wp-block-image size-large"><img decoding="async" loading="lazy" width="1024" height="462"
                                                               src="/media/QR-code2.png"
                                                               alt="" class="wp-image-2309"
                                                               sizes="(max-width: 1024px) 100vw, 1024px">
                    <figcaption class="wp-element-caption">Please scan the QR code to follow "Redwood City" <br> WeChat official account and video account</figcaption>
                </figure>


                <p></p>
            {% else %}

                <section class="hero">
                    <div class="hero__container">
                        <h1 class="hero__title hero__title--standard">华尘科技</h1>
                    </div>
                </section>


                <section class="grid">
                    <section class="grid__instances" data-grid-columns="2">
                        <div class="wp-block-mg-grid-column-left grid__instance">
                            <div class="grid__content">
                                <div class="wysiwyg">
                                    <p><strong>华尘科技</strong></p>


                                    <p>
                                        红杉中国是专注于投资科技、医疗健康、消费三大领域的私募股权投资机构。自2005年成立以来，红杉中国致力于发掘和培育创新和创业力量，在海内外投资了逾1500家企业，其中涌现出许多具有鲜明技术特征、创新商业模式、具备高成长性和高发展潜力的公司。</p>


                                    <p></p>


                                    <p>迄今为止，红杉中国有超过160家成员企业成功上市，近130家非上市公司已发展成为独角兽。</p>


                                    <p></p>


                                    <p><strong>如有融资计划，请将您的信件和商业计划书发送至 bpchina@hongshan.com 我们会悉心阅读并尽快予以回复</strong>。</p>
                                </div>
                            </div>
                        </div>


                        <div class="wp-block-mg-grid-column-right grid__instance">
                            <div class="grid__content">
                                <div class="wysiwyg"></div>
                            </div>
                        </div>
                    </section>
                </section>


                <p></p>


                <figure class="wp-block-image size-large"><img decoding="async" loading="lazy" width="1024" height="462"
                                                               src="/media/QR-code2.png"
                                                               alt="" class="wp-image-2309"
                                                               sizes="(max-width: 1024px) 100vw, 1024px">
                    <figcaption class="wp-element-caption">请扫码关注“红杉汇”<br>微信公众号和视频号</figcaption>
                </figure>


                <p></p>
            {% endif %}
        </article>
    </main>
{% endblock %}