{% extends 'hs_base/hs_base.html' %}
{% block main %}
<style>
    .back_yellow_tag.font1em{
        font-size:1em;
    }
    .font_size_sj-15.font1em{
        font-size:1em;
    }
</style>
<main class="main" id="main">

    <article class="content is-layout-constrained has-global-padding wysiwyg">
        <section class="hero hero--china">
            <div class="hero__container">

                <h1 class="hero__title hero__title--animated">Always be <span class="blue_bold">Able</span> and <span
                        class="blue_bold">Humble</span> to World<br>
                    Bridge the world, and Accompany Entrepreneur and Family through Cycles
                </h1>


            </div>
        </section>


        <div class="ink-collection">
            <div class="ink-collection__grid grid">
                <div class="grid__instances" data-grid-columns="12">
                    {% for news in newses %}
                    {% if forloop.counter0 in smalles %}
                    <div class="grid__instance aos-init" data-size="sm" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-delay="100">
                        <div class="grid__content"><a class="ink" style="background-color:#1b1916;"
                                href="{% url 'news:news_detail' news_id=news.pk %}?&lang=en">
                                <div class="ink__content ink__content--protected">
                                    {% if news.thumbnail_en is None or news.thumbnail_en == "" %}
                                    <img loading="lazy" width="576" height="576" src="{{ news.thumbnail }}"
                                        class="ink__image" alt="" decoding="async"
                                        sizes="(max-width: 576px) 100vw, 576px">
                                    {% else %}
                                    <img loading="lazy" width="576" height="576" src="{{ news.thumbnail_en }}"
                                        class="ink__image" alt="" decoding="async"
                                        sizes="(max-width: 576px) 100vw, 576px">
                                    {% endif %}
                                    <div class="ink__text" data-size="sm" data-color="light">
                                        {% if news.title_en is None or news.title_en == "" %}
                                        <h2 class="ink__title" data-size="sm" data-h-align="left" data-v-align="bottom"
                                            data-font-family="unica" data-font-size="sm" data-width="wide"
                                            data-word-wrap="false"></h2>
                                        {% else %}
                                        <h2 class="ink__title" data-size="sm" data-h-align="left" data-v-align="bottom"
                                            data-font-family="unica" data-font-size="sm" data-width="wide"
                                            data-word-wrap="false">{{ news.title_en }}</h2>
                                        {% endif %}

                                        <div class="ink__category ink__category--%e6%96%b0%e9%97%bb" data-size="sm">{{ news.category.name }}</div>

                                    </div>
                                </div>
                            </a></div>
                    </div>

                    {% else %}


                    <div class="grid__instance aos-init aos-animate" data-size="lg" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-delay="100">
                        <div class="grid__content"><a class="ink" style="background-color:#1b1916;"
                                href="{% url 'news:news_detail' news_id=news.pk %}?&lang=en">
                                <div class="ink__content ink__content--protected">
                                    {% if news.thumbnail_en is None or news.thumbnail_en == "" %}
                                    <img loading="lazy" width="900" height="900" src="{{ news.thumbnail }}"
                                        class="ink__image" alt="" decoding="async"
                                        sizes="(max-width: 900px) 100vw, 900px">
                                    {% else %}
                                    <img loading="lazy" width="900" height="900" src="{{ news.thumbnail_en }}"
                                        class="ink__image" alt="" decoding="async"
                                        sizes="(max-width: 900px) 100vw, 900px">
                                    {% endif %}
                                    <div class="ink__text" data-size="lg" data-color="light">
                                        {% if news.title_en is None or news.title_en == "" %}
                                        <h2 class="ink__title" data-size="lg" data-h-align="left" data-v-align="bottom"
                                            data-font-family="unica" data-font-size="sm" data-width="wide"
                                            data-word-wrap="false"></h2>
                                        {% else %}
                                        <h2 class="ink__title" data-size="lg" data-h-align="left" data-v-align="bottom"
                                            data-font-family="unica" data-font-size="sm" data-width="wide"
                                            data-word-wrap="false">{{ news.title_en }} </h2>
                                        {% endif %}
                                        <div class="ink__category ink__category--%e8%a7%82%e7%82%b9" data-size="lg">{{ news.category.name }}</div>

                                    </div>
                                </div>
                            </a></div>
                    </div>
                    {% endif %}

                    {% endfor %}


                </div>
            </div>
        </div>
    </article>


    <article id="about_us" class="content is-layout-constrained has-global-padding wysiwyg">
        <div class="container_sj">

            <div class="column_sj column_sj-1"></div>
            <div class="column_sj column_sj-2">
                <p class="font_size_sj-2"><strong>Humanity Shine</strong></p>
                <p class="font_size_sj-15 padding_top_bottom_4 font1em">（Humanity Shine Investment Management Suzhou Co., Ltd）</p>
            </div>
            <div class="column_sj column_sj-1">
                <div class="container_sj">

                    <div class="column_sj column_sj-2 back_yellow_tag  font1em"> Fund Manager </div>
                  
                    <div class="column_sj  "></div>
                    <div class="column_sj  "></div>
                </div>


            </div>
        </div>
        <div class="container_sj">

            <div class="column_sj">
                <div class="container_sj padding_top_2">
                    <div class="column_sj  "> <span class="back_yellow_tag pd2 font1em">Skillful Experience</span> </div>
                </div>
            </div>

            <div class="column_sj  column_sj-2">
                <p class="font_size_sj-2 line_height_15 font1em"><strong>Harmony Capital</strong></p>
                <p class="font_size_sj-15 font1em padding_top_bottom_4 ">Harmony Capital (Beijing) Co., Ltd</p>
                <p class="font_size_sj-15 font1em padding_top_bottom_4 ">Harmony Capital Consulting (Hangzhou) Co., Ltd</p>
            </div>

            <div class="column_sj column_sj-2">

                <p class="font_size_sj-15 font1em padding_top_bottom_4" style="display: inline-block;height:1.5em; width: 80%;">
                    <span><img class="p_img" src="{% static 'images/bandaoti.png' %}"></span><span
                        style="float:left;">Beijing Semiconductor Association</span>
                </p>
                <p class="font_size_sj-15 font1em padding_top_bottom_4" style="display: inline-block;height:1.5em;width: 70%;">
                    <span><img class="p_img" src="{% static 'images/qiushi.png' %}"></span><span
                        style="float:left;">Truth Semiconductor Group</span>
                </p>
                <p class="font_size_sj-15 font1em padding_top_bottom_4" style="display: inline-block;height:1.5em;"><span><img
                            class="p_img" src="{% static 'images/jicheng1.png' %}"></span><span
                        style="float:left;">Beijing Integrated Circuit Society</span></p>

            </div>

            <div class="column_sj">
                <div class="container_sj padding_top_2">

                    <!-- <div class="column_sj  back_yellow_tag"> 行业资源 </div> -->
                    <div class="column_sj  "> <span class="back_yellow_tag pd2 font1em">Industry Resources</span> </div>

                </div>

            </div>
        </div>
        <div class="container_sj ">

            <div class="column_sj  " class="padding_left_right_2">
                <p class="padding_top_bottom_4 line_height_15"> All the core team members have graduated from top
                    universities both in China and abroad, with professional experience in the world's leading financial
                    institutions and tech giants.</p>

                <div class="container_sj" style="margin-top:1em;">

                    <div class="column_sj  ">
                        <span><img class="top_img" src="{% static 'images/ibm.png' %}"></span>
                        <p class="font_06">国际商业化机器公司</p>
                    </div>
                    <div class="column_sj  ">
                        <span><img class="top_img" src="{% static 'images/geluo.png' %}"></span>
                        <p class="font_06">格罗方德 </p>
                    </div>
                    <div class="column_sj  ">
                        <span><img class="height_3_img" src="{% static 'images/huawei.png' %}"></span>
                    </div>

                </div>
                <div class="container_sj" style="margin-top:1em;">

                    <div class="column_sj  ">
                        <span><img class="top_img" src="{% static 'images/zhongxin.png' %}"></span>
                        <p class="font_06">中芯国际
                        </p>
                    </div>
                    <div class="column_sj  ">
                        <span><img class="height_3_img" src="{% static 'images/zhongjin.png' %}"></span>

                    </div>
                    <div class="column_sj  ">
                        <span><img class="top_img" src="{% static 'images/mogen.png' %}"></span>
                        <p class="font_06">摩根士丹利
                        </p>
                    </div>

                </div>

            </div>
            <div class="column_sj  " style="padding-left:2em;padding-right:2em;">
                <p class="padding_top_bottom_4 line_height_15">Our Team is linked to many semiconductor industry
                    associations and assists the latter in industry research. Meanwhile, we own numerous experts who
                    have worked in crucial positions at leading chip companies with rich experience in IDM and
                    semiconductor tool related domains.
                </p>
                <div class="container_sj" style="margin-top:1em;">

                    <div class="column_sj  ">
                        <span><img class="top_img" src="{% static 'images/zhongxin.png' %}"></span>
                        <p class="font_06">中芯国际
                        </p>
                    </div>
                    <div class="column_sj  ">
                        <span><img class="height_3_img" src="{% static 'images/huahong.png' %}"></span>

                    </div>
                    <div class="column_sj  ">
                        <span><img class="height_3_img" src="{% static 'images/taijidian.png' %}"></span>

                    </div>

                </div>
            </div>
        </div>
        <h4></h4>
        <h4>
            <bold>Vision : </bold>Always be<span class="blue_yuanjing"> Able</span> and <span class="blue_yuanjing">Humble</span> to World 
        </h4>
        <h4></h4>
        <h4>
            <bold>Mission : </bold>Bridge the world, and Accompany Entrepreneur and Family through Cycles
        </h4>

    </article>
</main>
{% endblock %}