{% extends 'hs_base/hs_base.html' %}
{% block main %}
</header>
<main class="main" id="main">

    <article class="content is-layout-constrained has-global-padding wysiwyg">

        <section class="hero">
            <div class="hero__container">
                <h1 class="hero__title hero__title--standard">工作机会</h1>
            </div>
        </section>



        <section class="wp-block-mg-post-container post-container wysiwyg has-global-padding is-layout-constrained wp-container-1 wp-block-post-container-is-layout-constrained">
            <h1 class="wp-block-heading has-text-align-center" style="text-align: center;">加入优秀创业团队</h1>

            <p></p>
            <blockquote class="wp-block-quote">
                <p>创业时代，期待有你<br>大牛通道，只为你开</p>
                <p style="padding-top:2em;padding-bottom:2em;"><img src="{% static 'images/hr.png' %}"></p>
            </blockquote>
 


      



            <p></p>

 

            <p></p>



            <p></p>
        </section>
    </article>

</main>
{% endblock %}